extends _layout.pug

block include
    .
        <?php include 'lib/controles.php';?>

block title
    title Inicio

block content
    header
      h2(align="center") INFORMES ANÁLISIS DE ACEITE
      
    .
        <?php
            $mysqli = new mysqli('localhost',$DBUSER, $DBPASS, $DATABASE);
            if ($mysqli -> connect_errno) {	die( "Fallo la conexión a MySQL: (" . $mysqli->connect_errno . ") " . $mysqli->connect_error); exit;}

            $resultado=$mysqli->query("SELECT idCentral, Descripcion FROM tbl_central");
            $nfilasCentral = $resultado->num_rows;		
        ?>

    div#contenido(class="small-9 small-centered columns")            
        div.row
            div.small-5.small-centered.columns
                p(align="center")
                    ul.button-group.round
                       a.button.button-radius.btnOpcion(href="#modal1" data-reveal-id="modal1" id="AgregarRegistro") Nuevo Informe
                           i.fa.fa-plus-square-o(aria-hidden="true")
                       a.button.button-radius.btnOpcion(href="#modal1" data-reveal-id="modal1" id="VerHistorial") Ver Historial
                           i.fa.fa-bar-chart(aria-hidden="true") 
        br
        p
        div.row
            div.medium-12.columns
                table.stack
                    thead
                        tr
                            th(style{text-align: center; background-color: #4CAF50; color: white;}) Fecha de Informe
                            th Código de Informe
                            th Producto
                            th Máquina
                            th Horómetro
                            th Proveedor
                            th
                    .
                        <?php $consulta=$mysqli->query('
                                SELECT tbl_analisis.idAnalisis as Id, tbl_analisis.Nombre as Nombre, tbl_analisis.Producto as Prod, 
                                DATE_FORMAT(tbl_analisis.FechaAnalisis,"%d-%m-%Y") as Fecha, tbl_motor.Codigo as Motor, tbl_proveedor.Nombre as Proveedor, 
                                tbl_analisis.HorometroMaquina as HorometroMaquina 
                                FROM tbl_analisis, tbl_motor, tbl_proveedor 
                                WHERE tbl_analisis.idMotor = tbl_motor.idMotor AND tbl_analisis.idProveedor = tbl_proveedor.idProveedor
                                ORDER BY tbl_analisis.FechaAnalisis DESC
                                ');
                        
                                while($fila=$consulta->fetch_assoc()){ ?>
                    tbody
                            tr
                                td.
                                    <?php echo $fila['Fecha']; ?>
                                td.
                                    <?php echo $fila['Nombre']; ?>
                                td.
                                    <?php echo $fila['Prod']; ?>
                                td.
                                    <?php echo $fila['Motor']; ?>
                                td.
                                    <?php echo number_format($fila["HorometroMaquina"],0,'','.'); ?> hrs.
                                td.
                                    <?php echo $fila['Proveedor']; ?>
                                td
                                    div.btnVer(title='Ver', id!="<?php echo $fila['Id'];?>")
                                        i.fa.fa-file-text(aria-hidden="true")
                    .
                         <?php } ?>                    
                
    div.small.reveal#modal1(data-reveal)        
        table
            thead
                tr
                    th
                        h4 Seleccione una Central
            tbody
                .
                    <?php for ($i=0; $i<$nfilasCentral; $i++){
                     $filaCentral = $resultado->fetch_assoc(); 
                     echo '<tr><td class="collection-item" width="90%">
                       <a href="#!" data-toggle="secondary-content">
                         <div class="selOpcion" name="id_ce" id="'.$filaCentral["idCentral"].'">'.strtoupper($filaCentral["Descripcion"]).'
                         </div>
                       </a>
                      </td>
                      <td><a href="#!" data-toggle="secondary-content">
                         <div class="selOpcion" name="id_ce" id="'.$filaCentral["idCentral"].'">
                          <i class="fa fa-arrow-right" aria-hidden="true" align="right"></i>
                         </div>
                      </td></tr>';
                    } ?>            
                     
        button.close-button(data-close aria-label="Close modal" type="button")
            i.fa.fa-window-close(aria-hidden="true")

    .
        <?php mysqli_close($mysqli); 
         /*div.full.reveal#secondary-content(data-reveal)  p Abrir pagina
          footer
          div(align="center")
         <img src="assets/files/img/favicon.png" alt="Logo" width="23em" heigth="23em"> EnorChile</img>
         */ 
        ?>
    script.
        $('.btnOpcion').click(function() {
            $pagina = $(this).attr('id');
            console.log($pagina);
            var popup = new Foundation.Reveal($('#modal1'));
            popup.open();
        });

        $('.selOpcion').click(function() {
            $central = $(this).attr('id');
            $('#modal1').foundation('close');
            window.location = $pagina + ".php?id=" + $central;
        });

        $('.btnVer').click(function() {
            window.location = "VerAnalisis.php?id=" + $(this).attr('id');
        });
    