
extends _layout.pug

block include
    .
        <?php include 'lib/controles.php';?>

block title
    title Resultado Análisis de Aceite

block content
    .
        <?php $mysqli = new mysqli('localhost',$DBUSER, $DBPASS, $DATABASE);
             if ($mysqli -> connect_errno) {	die( "Fallo la conexión a MySQL: (" . $mysqli->connect_errno . ") " . $mysqli->connect_error); exit;}

             if ($_POST){ 
                $Item = $_POST["Item"];
                $Valor = $_POST["Valor"];
                $Analisis = $_POST["Analisis"];			
                //echo $Item." - ".$Valor." - ".$Analisis;		
                if($Item!='' and $Valor!='' and $Analisis!=''){	
                  $consultaInsert = $mysqli->query ("
                   INSERT INTO tbl_itemsanalisis (idAnalisis, idItem, Valor) 
                   VALUES (".$Analisis.", ".$Item.", ".$Valor.")");
                  if($consultaInsert>0){ echo "<script>var ingreso=$consultaInsert;</script>"; }
                }  
             }

             //siempre se carga la página
             if (isset($_GET['id']) && $_GET['id'] != ""){
                $id = $_GET['id'];//print $id;
                $consulta =  $mysqli->query('
                        SELECT tbl_analisis.Nombre as Nombre, tbl_analisis.Producto as Prod, DATE_FORMAT(tbl_analisis.FechaAnalisis,"%d-%m-%Y") as Fecha1, DATE_FORMAT(tbl_analisis.FechaMuestra,"%d-%m-%Y") as Fecha2, tbl_motor.Codigo as Motor, tbl_motor.Marca as Marca, tbl_motor.Modelo as Modelo, tbl_proveedor.Nombre as Proveedor,	tbl_analisis.HorometroMaquina as Horometro1, tbl_analisis.HorometroProducto as Horometro2, tbl_central.Descripcion as Central, tbl_central.Ubicacion as Lugar 
                        FROM tbl_analisis, tbl_motor, tbl_proveedor, tbl_central 
                        WHERE tbl_analisis.idMotor = tbl_motor.idMotor AND tbl_analisis.idProveedor = tbl_proveedor.idProveedor AND tbl_motor.idCentral = tbl_central.idCentral AND  tbl_analisis.IdAnalisis='.$id.'');
                
                $fila=$consulta->fetch_assoc();
        ?>
    div#content
        header
            h2(align="center") Análisis de Aceite
            div(align="center") Realizado por
                .
                    <?php echo "<strong>".$fila["Proveedor"]."</strong> el ".$fila["Fecha1"]; ?>

        div.row(align="center")
            table.hover.t1
                tr
                    th Motor
                    td.
                       <?php echo $fila["Motor"]; ?>
                    th Producto
                    td.
                       <?php echo $fila["Prod"]; ?>
                tr
                    th Marca / Modelo
                    td.
                       <?php echo $fila["Marca"].' / '.$fila["Modelo"];?>
                    th Horómetro Producto
                    td.
                       <?php echo $fila["Horometro2"]; ?> hrs.
                tr
                    th Central
                    td.
                       <?php echo $fila["Central"]." / ".$fila["Lugar"]; ?>
                    th Fecha Muestra
                    td.
                       <?php echo $fila["Fecha2"]; ?>
                tr
                    th Horómetro Motor
                    td.
                       <?php echo number_format($fila["Horometro1"],0,'','.'); ?> hrs.
                    th Detalle Informe
                    td.
                        <?php echo ' '.$fila["Nombre"]; ?>

                br
                
            .
                <?php $consulta2 = $mysqli->query ('
                    SELECT tbl_item.Descripcion as Item, tbl_itemsanalisis.Valor as Valor
                    FROM tbl_itemsanalisis, tbl_item, tbl_analisis
                    WHERE tbl_itemsanalisis.idAnalisis = tbl_analisis.idAnalisis AND tbl_item.idItem = tbl_itemsanalisis.idItem AND tbl_analisis.IdAnalisis='.$id.'
                    ORDER BY Item
                  ');
                  $nfilas2 = $consulta2->num_rows;
                ?>
            br
            table(class="stack" width="100%" border="0" cellspacing="0" cellpadding="0")
                tr.
                    <?php $contador = 1; 
                       while($fila2 = $consulta2->fetch_assoc()){ 
                          if($contador > 4) { 
                             echo "</tr><tr>"; 
                             $contador = 1; 
                          } 
                          $valor = number_format($fila2["Valor"],2,",",'.');
                          $valor = (substr($valor, -3)!=",00")?$valor:substr($valor, 0,-3);
                          //echo ($valor=="")?'0':$valor; 
                          $val=($valor=="")?'0':$valor;
                          echo '<td><li>'.$fila2["Item"].' '.$val.'</li></td>';                             
                          $contador++;
                        }
                    ?>
            br
            br
            br
            br
            p(align="center")
                  a.button.button-radius(href="index.php")
                    i.fa.fa-arrow-left(aria-hidden="true") Volver
                  .
                    <?php 
                     $cant_items=$mysqli->query('
                      SELECT count(*) as items
                      FROM tbl_item
                      WHERE idItem NOT IN 
                       (SELECT idItem FROM tbl_itemsanalisis WHERE idAnalisis = "'.$id.'")');
                     $row_cantItem=$cant_items->fetch_assoc();
                     //echo $row_cantItem['items'];
                     if($row_cantItem['items']>0){
                        echo '<a class="button button-radius agregarDato" href="#" id="'.$id.'">Agregar Datos<i class="fa fa-plus-square-o" aria-hidden="true"></i></a>';
                     }
                    ?>        

        .
            <?php }
             else{
                if($consultaInsert>0){
                  // echo "<script>$('#modal1').foundation('reveal', 'close');</script>";
                   echo "<script>location.href='VerAnalisis.php?id=$id'</script>";
                }else{
                  echo '<div class="row"><div><h3>ERROR: INGRESO INCORRECTO</h3></div></div>';
                }
             }

             //cerrar sesión en BD
             mysqli_close($mysqli);
            ?>

        div.reveal.pop#modal1(data-reveal)
            iframe(name="ifrm" id="ifrm" src="#" frameborder="0" class="frm" scrolling="no")
            button.close-button(data-close aria-label="Close modal" type="button")
                i.fa.fa-window-close(aria-hidden="true")

            script.
                $('.agregarDato').click(function(){
                    $id = $(this).attr('id');
                    $pagina='AgregarDato.php?id1=';
                    console.log($pagina + $id);
                    $url=$pagina+$id;
                    var popup = new Foundation.Reveal($('#modal1'));
                    popup.open();
                    $('#ifrm').attr('src', $url);
                });
                var ingreso; 
                if(ingreso){console.log('cerrar reveal');
                $('.close-button').click();
                //var popups = new Foundation.Reveal($('#modal1'));
                //popups.close();
                //$('#modal1').trigger('reveal:close');
                }
